/* You can add global styles to this file, and also import other style files */
@import './styles/partials/button.scss';
@import './styles/partials/form.scss';
@import './styles/partials/typography.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
